# Web framework
streamlit==1.32.0

# Google Cloud SDKs
google-cloud-speech==2.26.0
google-cloud-dlp==3.15.3
google-cloud-bigquery==3.20.1
google-cloud-storage==2.16.0
google-cloud-aiplatform==1.52.0
google-cloud-texttospeech==2.16.3

# Vertex AI / Gemini
vertexai

# Utilities
python-dotenv==1.0.1
